body {
  display: grid;
}
.container,
.animals-container {
  display: inline-grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 180px);
  justify-self: center;
}

.card {
  background: url("images/card-bg.jpg");
  height: 250px;
  border-radius: 10px;
  background-size: 299px 461px;
}

.animal {
  height: 250px;
  width: 180px;
  border-radius: 10px;
  color: aliceblue;
  /* background-size: 255px 331px; */
  background-size: 182px 252px;
}

.animals-container {
  position: absolute;
  /* left: 279px;
  top: 9px; */
  z-index: -1;
}
